{% extends 'mysite/base.html'%}
{% load static %}

{%block content%}
<div class="row">
    <div class="col-sm-4 mx-auto" style="margin-top: 70px" align-center>
        
            <form class="form-inline" action="{% url 'home'%}" method="POST">
                {%csrf_token%}
               


                <div class="card text-white bg-dark mb-3 text-center">
                    
                    <h5 class="card-title">Featured</h5>
                    <blockquote class="blockquote mb-0 card-body">
                      <p>''{{rsaying.saying}}''</p>
                      <p>-{{rsaying.name}}</p>
                    </blockquote>
                
                  </div>






              
                <button type="submit" class="btn btn-secondary mb-2">Next</button>
              </form>    
        </div>
        
                     
           
        
    </div>
    </div>

{%endblock%}