{% extends 'mysite/base.html'%}
{%block content%}



<div class="card-columns">
    <div class="card text-white bg-dark mb-3 text-center"  style="margin-top: 10px">
        <blockquote class="blockquote mb-0 card-body">
          <p>{{rquote.quote}}</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
                {{rquote.authorname}}
            </small>
          </footer>
        </blockquote>
      </div>




  
    <div class="card text-white bg-dark mb-3 text-center"  style="margin-top: 10px">
      <blockquote class="blockquote mb-0 card-body">
        <p>{{r1quote.quote}}</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            {{r1quote.authorname}}
          </small>
        </footer>
      </blockquote>
    </div>






    <div class="card text-white bg-dark mb-3 text-center"  style="margin-top: 10px">
      <blockquote class="blockquote mb-0 card-body">
        <p>{{r2quote.quote}}</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            {{r2quote.authorname}}
          </small>
        </footer>
      </blockquote>
    </div>

    <div class="card text-white bg-dark mb-3 text-center"  style="margin-top: 10px">
      <blockquote class="blockquote mb-0 card-body">
        <p>{{r3quote.quote}}</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            {{r3quote.authorname}}
          </small>
        </footer>
      </blockquote>
    </div>
   
   
    <div class="card text-white bg-dark mb-3 text-center"  style="margin-top: 10px">
        <blockquote class="blockquote mb-0 card-body">
          <p>{{r4quote.quote}}</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
                {{r4quote.authorname}}
            </small>
          </footer>
        </blockquote>
      </div>
  
    


      <div class="card text-white bg-dark mb-3 text-center"  style="margin-top: 10px">
        <blockquote class="blockquote mb-0 card-body">
          <p>{{r5quote.quote}}</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
                {{r5quote.authorname}}
            </small>
          </footer>
        </blockquote>
      </div>
  
      <div class="card text-white bg-dark mb-3 text-center"  style="margin-top: 10px">
        <blockquote class="blockquote mb-0 card-body">
          <p>{{r6quote.quote}}</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
                {{r6quote.authorname}}
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card text-white bg-dark mb-3 text-center"  style="margin-top: 10px">
        <blockquote class="blockquote mb-0 card-body">
          <p>{{r7quote.quote}}</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
                {{r7quote.authorname}}
            </small>
          </footer>
        </blockquote>
      </div>

      <div class="card text-white bg-dark mb-3 text-center"  style="margin-top: 10px">
        <blockquote class="blockquote mb-0 card-body">
          <p>{{r8quote.quote}}</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
                {{r8quote.authorname}}
            </small>
          </footer>
        </blockquote>
      </div>
  
  
  </div>

  {%endblock%}